body {
        background-color: #FFFFFF;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.get_source {
        height: 90px;
        width: 79px;
        float: left;
        top: 0px;
	left: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
        background-image: url('../images/code_corner.png');
        background-position: top left;
        background-repeat: no-repeat;

}
.get_source span {
        display: none;
}

div form {
        background-image: url('../images/odt_logo.png');
        background-position: top left;
        background-repeat: no-repeat;
	padding-top: 80px;
        clear: both;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
